@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	outline: none;
}
body {
  	min-height: 100vh;
  	display: flex;
  	flex-direction: column;
	width: 100%;
	background-color : #C8C8C9;
	color: #333;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 0.9em;
	line-height: 135%;
}

hr {

	margin: 5px 25% ;
	width: 50%;
	align-items: center;
	border: 1px solid #4B5563;
}
/*Стили для header*/
/*.header a {
	padding-top: 5px;
	padding-bottom: 5px;
  	color: #e74c3c;
  	position: relative;
  	font-weight: 600;
  	height: 40px;
  	display: inline-block;
}*/

div.header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 150px;
	padding: 0.5%;
	background-color: #A7A2A9;
	border-bottom: 2px solid #4B5563;
}
div.logo
{  margin-left: 2%;
	margin-right: 2%;
	width: 15%;
	color: #939393;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
	padding: 3px;
	display: flex;
	justify-content: center;
}
div.site_name 
{
	width: 20%;
	color: #080F0F;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-self: center;
}


.site_name p
{
	border-left: 2px solid #50FFB1;
	float: left;
	padding: 5px;
	margin-bottom: 5px;
}
.logo-item 
{
	align-self: center;
}
/*------------------------------------------*/

/*Стили главного меню*/
nav {
	margin: 15px auto;
	width: 50%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: row;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.topnav
{
	font-size: 14px;
	margin-top: 10px; 
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.topnav a
{
	color: #080F0F;
	text-align: center;
	padding: 12px 15px;
	font-size: 15px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-self: center;
}
.topnav a:hover {
border-bottom: 2px solid  #50FFB1;
}
/*------------------------------------------*/
.clear {
	clear: both;
}
/*Стили для content*/
div.content{
	flex-grow:1;
	padding: 5px;
	/*border: 1px solid black;*/
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	width: 95%;
}

.wrapper
{
	width: 53%;
	margin: 5px auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1; 
	/*background: #95a3b3;*/
}
.container
{

  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px auto;
  padding: 5px;
  flex-wrap: wrap;
  background-color: #fafafa;
  border: 2px solid #4B5563;
  border-radius: 10px;
}
.img_container
{
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 3px auto;
  padding: 5px;
  flex-wrap: wrap;
}

.lead
{
	padding: 12px 15px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #080F0F;
}

h2 
{
	margin: 10px;
	color: #080F0F;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;

}

h3
{
	margin: 10px  30px;
	color: #080F0F;
	font-family: 'Open Sans', sans-serif;

}


li {
	margin: 5px  50px;
	color: #080F0F;
	font-family: 'Open Sans', sans-serif;
   }

/*Списки*/
div.list
{

}

li {
	list-style-type: none;
}

ol {
	counter-reset: list1 0;
}

li ol {
	margin-left: 15px;
}

ol li:before {
	counter-increment: list1;
	content: counter(list1) ". ";
}

ol ol {
	counter-reset: list2;
}

ol ol li:before {
	counter-increment: list2;
	content: counter(list1) "." counter(list2) ". ";
}
 ol ol li:hover{
  background: #cacafc;
}



/* Стили для footer*/
div.footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding : 5px 1% 1%;
	margin-top: 10px;
	height: 95px;
	background-color: #A7A2A9;
	border-top: 2px solid #4B5563;
}
div.social 
{
display: flex;
flex-direction: column;
font-size: 1em
}
.social p
{
	border-left: 2px solid #50FFB1;
	float: left;
	color: #080F0F;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
	padding: 5px;
	margin-bottom: 5px;
}

.footer a {
	padding-top: 5px;
	padding-bottom: 5px;
  	color: #080F0F;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	text-decoration: none;
  	-webkit-transition: all .3s linear;
  	-moz-transition: all .3s linear;
  	transition: all .3s linear;
}

.footer a:hover{
  color: #080F0F;
}

.footer a:before, .footer a:after{
  content: '';
  background: #50FFB1;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.footer a:before{
  top: 0;
  left: 0;
}

.footer a:after{
  top: 100%;
  right: 0;
}

.footer a:hover:before, .footer a:hover:after{
  width: 100%;
}

